<div class="col-xs-6">
  
<h1>News Feed</h1>
<body>
  <div class="container">
    <div class="row">
      <% @articles.each do |article| %>
          <%= render article %>
      <% end %>
    </div>
  </div>
  <%= paginate @articles %>
</body>

</div>