<h1>Index of users</h1>

<!-- Placeholder for listing all users -->
<ul>
  <%= @users.each do |user| %>
    <li>
      <%= link_to "#{user.first_name} #{user.last_name}", user %>
    </li>
  <% end %>
</ul>
